html { 
	height: 100%;
	width: 100%;
}

* {
  box-sizing: border-box;
}

body { 
	padding-left:10px;
	padding-right:0px;
	background-color: LightGray;
    color: Black;
    font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
	text-align: justify;
	text-justify: inter-word;
}
	
header {
	
	background-color: #7f9bc7;
	text-align: center;
	padding: 20px;
	font-family: "Times New Roman", Times, serif;
}

.rightcolumn {
	border-radius: 0px 0px 15px 15px;
	float: left;
	background-color: #d3dded;
	text-align: left;
	width: 75%;
	padding: 10px;
	text-align: justify;
	text-justify: inter-word;
}

.leftcolumn {
	border-radius: 0px 0px 15px 15px;
	float: left;
	background-color: #878f9c;
	text-align: left;
	width: 25%;
	padding: 10px;
}

/* Add a card effect for articles */
.card {
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	margin: 5px;
	text-justify: auto;
	text-align: justify;
	text-justify: inter-word;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Adding some responsive functionality.
This changes the layout, from columns to a more 
conventional set up depending on amount of pixels
in the screen.
This is heavily inspired from w3 schools
https://www.w3schools.com/css/css_website_layout.asp */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
