html { 
	height: 100%;
	width: 100%;
	overflow: 100%;
	
}

body { 
	height: 100%;
	width: 100%;
	margin-left:0px;
	margin-top:0px;
	padding-left:10px;
	padding-right:0px;
	background-color: LightGray;
    color: Black;
    font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
	overflow:100%;
}